extends ../../../components/templates/common

block append styles
	//-

block append scripts
	//-

block append content

	include ../../../components/pages/catalog/solariums/breadcrumbs

	include ../../../components/pages/catalog/solariums/catalog-articles

