extends ../../../components/templates/common

block append styles
	//-

block append scripts
	//-

block append content

	include ../../../components/pages/catalog/solariums/vertical/breadcrumbs

	.section
		h1.section__title.text-primary Вертикальные солярии
		include ../../../components/pages/catalog/solariums/vertical/catalogue
