footer.footer.pt-40.pb-90
	.container
		.row
			.col-3.footer__column
				a.footer__logo.d-flex.flex-d-column.link-primary-sm(href='/')
					img(src='/img/logo.svg' alt='Тансити' width=121)
					span.footer__logo-description.text-primary Оснащение студий загара
			nav.col-2.footer__nav
				.footer__column-title.text-dark О компании
				ul.footer__nav-list
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') О компании
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') О производителях
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Доставка и оплата
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Новости
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Акции
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Статьи
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Отзывы о компании
			nav.col-2.footer__nav
				.footer__column-title.text-dark Каталог
				ul.footer__nav-list
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='/solariums.html') Солярии
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Запчасти
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Лампы
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Косметика
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Товары б/у
					li.footer__nav-item
						a.footer__nav-link.text-primary(href='#') Услуги
			.col-2.footer__column
				.footer__column-title.text-dark Контакты
					.footer__contacts.d-flex.flex-ai-center.flex-jc-start.my-10
						a.footer__contacts-link--whatsapp.mr-6(href='https://web.whatsapp.com')
							svg.d-block.footer__contacts-icon(height=18 width=18)
								title Вотсапп
								use(xlink:href='/img/svg/icons.svg#whatsapp')
						a.footer__contacts-link--viber(href='https://viber.com')
							svg.d-block.footer__contacts-icon(height=18 width=18)
								title Вайбер
								use(xlink:href='/img/svg/icons.svg#viber')
				a.footer__column-phone.link-light-md(href='tel:+74964106693') 8 (495) 410-66-93
				p.footer__column-time.text-dark 10:00 - 18:00 по МСК
				a.footer__column-mail.link-light-sm(href='mailto:info@tancity.ru') info@tancity.ru
				p.footer__column-text Мы в соцсетях
				ul.footer__column-social-list.d-flex.flex-ai-center.flex-jc-start
					li.footer__column-social-item.mr-6
						a.footer__column-social-link.icon--vk(href='https://www.vk.com/')
							svg.d-block.footer__column-social-icon(height=18 width=18)
								title Вконтакте
								use(xlink:href='/img/svg/icons.svg#vk')
					li.footer__column-social-item.mr-6
						a.footer__column-social-link.icon--instagram(href='https://www.instagram.com/')
							svg.d-block.footer__column-social-icon(height=18 width=18)
								title Инстаграмм
								use(xlink:href='/img/svg/icons.svg#instagram')
					li.footer__column-social-item
						a.footer__column-social-link.icon--facebook(href='https://www.facebook.com/')
							svg.d-block.footer__column-social-icon(height=18 width=18)
								title Фейсбук
								use(xlink:href='/img/svg/icons.svg#facebook')
			.col-3.footer__column.d-flex.flex-d-column.flex-ai-start
				button.button.footer__button(type='button') Подписка на рассылку
				p.footer__column-adress.text-dark 115280, г. Москва,
					br
					| ул. Ленинская Слобода,
					br
					| д. 19, 41 я.
				p.footer__column-requisites.text-dark ООО 'ТАН-СИТИ'
					br
					| ИНН: 7725809867
					br
					| КПП: 772501001
