:root {

	// SECTION CATALOG
	// -----------------------------------------------

	// Background
	--category-bg-cl: var(--cl-white);

	// Basic box-shadow
	--category-default-shadow: 0 4px 10px var(--ca-black-5);
	--category-hover-shadow: 0 5px 15px var(--ca-violet-75-25);

	// Link
	--category-icon-delivery-default-cl: var(--cl-violet-50);
	--category-icon-delivery-hover-cl: var(--cl-blue-500);

	// -----------------------------------------------
	// SECTION CATALOG
}
