:root {

	// SECTION PROMO
	// -----------------------------------------------

	// Backround
	--promo-bg-cl: var(--cl-white);

	// Shadows
	--promo-content-shadow: 0 4px 10px var(--ca-black-5);

	// Preview
	--promo-border-cl: var(--cl-graphite-775);

	--promo-preview-active-bg-cl: var(--cl-violet-800);
	--promo-preview-hover-bg-cl: var(--cl-violet-800);

	// Description
	--promo-description-cl: var(--ca-graphite-100-50);

	// -----------------------------------------------
	// SECTION PROMO
}
