.article {
	--article-shadow: var(--article-default-shadow);

	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: var(--article-bg-cl);
	box-shadow: var(--article-shadow);
	transition: all .3s;

	&--lg {
		max-width: 670px;
		max-height: 370px;
		padding: 0;
	}

	&:hover {
		--article-shadow: var(--article-hover-shadow);
	}

	&:active {
		--article-shadow: none;
	}

	&__link {
		color: currentColor;
		text-decoration: none;
		transition: text-decoration .3s;

		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		max-width: 380px;
		margin-bottom: 15px;
	}

	&__img-link {
		width: 260px;
		max-height: 363px;
	}

	&__img {
		border-radius: 5px;
	}

	&__date {
		margin-bottom: 10px;
	}

	&__text {
		&--lg {
			margin-bottom: 5px;
		}
	}
}
