.catalog.mb-60
	.row
		div(class='lg:col-3 md:col-6 col-12')
			a.card-c.card-c--delivery(href='#')
				svg.card-c__icon(height=78 width=78)
					title Самовывоз
					use(xlink:href='/img/svg/icons.svg#package')
				.card-c__name.card-c__name--delivery.text-secondary Самовывоз
		div(class='lg:col-3 md:col-6 col-12')
			a.card-c.card-c--delivery(href='#')
				svg.card-c__icon(height=78 width=78)
					title Доставка по Москве и Московской области
					use(xlink:href='/img/svg/icons.svg#truck')
				.card-c__name.card-c__name--delivery.text-secondary  Доставка по Москве
					br
					|  и Московской области
		div(class='lg:col-3 md:col-6 col-12')
			a.card-c.card-c--delivery(href='#')
				svg.card-c__icon(height=78 width=78)
					title доставка по всей россии
					use(xlink:href='/img/svg/icons.svg#russia')
				.card-c__name.card-c__name--delivery.text-secondary доставка по всей россии
		div(class='lg:col-3 md:col-6 col-12')
			a.card-c.card-c--delivery(href='#')
				svg.card-c__icon(height=78 width=78)
					title Гарантия
					use(xlink:href='/img/svg/icons.svg#guarantee')
				.card-c__name.card-c__name--delivery.text-secondary  Гарантия
