.catalog.mb-60
	.row
		div(class='lg:col-2 col-6')
			a.card-c(href='#')
				picture.card-c__img.mb-20
					source(srcset='./img/webp/pages/index/catalog/solarium.webp' type='image/webp')
					source(srcset='./img/pages/index/catalog/solarium.jpg' type='image/jpeg')
					img.w-100p.max-w-100p.obj-c(src='./img/pages/index/catalog/solarium.jpg' loading='lazy' alt='Солярии' height=100 width=177)
				.card-c__name.text-primary Солярии
		div(class='lg:col-2 col-6')
			a.card-c(href='#')
				picture.card-c__img.mb-20
					source(srcset='./img/webp/pages/index/catalog/parts.webp' type='image/webp')
					source(srcset='./img/pages/index/catalog/parts.jpg' type='image/jpeg')
					img.w-100p.max-w-100p.obj-c(src='./img/pages/index/catalog/parts.jpg' loading='lazy' alt='Запчасти' height=100 width=177)
				.card-c__name.text-primary Запчасти
		div(class='lg:col-2 col-6')
			a.card-c(href='#')
				picture.card-c__img.mb-20
					source(srcset='./img/webp/pages/index/catalog/lamps.webp' type='image/webp')
					source(srcset='./img/pages/index/catalog/lamps.jpg' type='image/jpeg')
					img.w-100p.max-w-100p.obj-c(src='./img/pages/index/catalog/lamps.jpg' loading='lazy' alt='Лампы' height=100 width=177)
				.card-c__name.text-primary Лампы
		div(class='lg:col-2 col-6')
			a.card-c(href='#')
				picture.card-c__img.mb-20
					source(srcset='./img/webp/pages/index/catalog/cosmetics.webp' type='image/webp')
					source(srcset='./img/pages/index/catalog/cosmetics.jpg' type='image/jpeg')
					img.w-100p.max-w-100p.obj-c(src='./img/pages/index/catalog/cosmetics.jpg' loading='lazy' alt='Косметика' height=100 width=177)
				.card-c__name.text-primary Косметика
		div(class='lg:col-2 col-6')
			a.card-c(href='#')
				picture.card-c__img.mb-20
					source(srcset='./img/webp/pages/index/catalog/repair.webp' type='image/webp')
					source(srcset='./img/pages/index/catalog/repair.jpg' type='image/jpeg')
					img.w-100p.max-w-100p.obj-c(src='./img/pages/index/catalog/repair.jpg' loading='lazy' alt='Ремонт' height=100 width=177)
				.card-c__name.text-primary Ремонт
		div(class='lg:col-2 col-6')
			a.card-c(href='#')
				picture.card-c__img.card-c__img--refresh.mb-30
					source(srcset='./img/webp/pages/index/catalog/refresh.webp' type='image/webp')
					source(srcset='./img/pages/index/catalog/refresh.jpg' type='image/jpeg')
					img.max-w-100p.obj-c(src='./img/pages/index/catalog/refresh.jpg' loading='lazy' alt='Товары б/у' height=60 width=60)
				.card-c__name.text-primary Товары б/У
