.popular
	h1.popular__title.text-primary Популярные товары
	.swiper
		.swiper-wrapper
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-megasun5-0.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-megasun5-0.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-megasun5-0.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
							.badge.badge--info  рекомендуем
					.card__description
						a.card__link.link-primary-md(href='#') Вертикальный солярий Megasun Pure Energy 5.0
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 275 000  &#8381;
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-megasun5-0c.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-megasun5-0c.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-megasun5-0c.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0c' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
					.card__description
						a.card__link.link-primary-md(href='#') Вертикальный солярий Megasun Pure Energy 5.0с
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 275 000  &#8381;
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-megasun-red5-0.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-megasun-red5-0.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-megasun-red5-0.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0c красный' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
					.card__description
						a.card__link.link-primary-md(href='#') Вертикальный солярий Megasun Pure Energy 5.0с
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 275 000  &#8381;
								p.card__discount
									span.card__old-price.text-dark 1 350 000 &#8381;
									span.card__discount.text-light -100 000 &#8381;
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-megasun5-0.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-megasun5-0.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-megasun5-0.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
							.badge.badge--info  рекомендуем
					.card__description
						a.card__link.link-primary-md(href='#') Вертикальный солярий Megasun Pure Energy 5.0
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 275 000  &#8381;
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-megasun5-0c.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-megasun5-0c.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-megasun5-0c.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0c' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
					.card__description
						a.card__link.link-primary-md(href='#') Вертикальный солярий Megasun Pure Energy 5.0с
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 275 000  &#8381;
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-megasun-red5-0.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-megasun-red5-0.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-megasun-red5-0.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0c красный' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
					.card__description
						a.card__link.link-primary-md(href='#') Вертикальный солярий Megasun Pure Energy 5.0с
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 275 000  &#8381;
								p.card__discount
									span.card__old-price.text-dark 1 350 000 &#8381;
									span.card__discount.text-light -100 000 &#8381;
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-firesun.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-firesun.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-firesun.jpg' loading='lazy' alt='Солярий Firesun' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
							.badge.badge--info  рекомендуем
					.card__description
						a.card__link.link-primary-md(href='#') Солярий Firesun
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 270 000  &#8381;
								p.card__discount
									span.card__old-price.text-dark 300 000 &#8381;
									span.card__discount.text-light -10%
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
			.swiper-slide
				.card
					.card__img-container
						a.card__img(href='#')
							picture
								source(srcset='./img/webp/pages/index/popular/solarium-firesun.webp' type='image/webp')
								source(srcset='./img/pages/index/popular/solarium-firesun.jpg' type='image/jpeg')
								img(src='./img/pages/index/popular/solarium-firesun.jpg' loading='lazy' alt='Солярий Firesun' width='265' height='277')
						.card__badges
							.badge.badge--primary популярное
							.badge.badge--info  рекомендуем
					.card__description
						a.card__link.link-primary-md(href='#')
							p.card__name Солярий Firesun
						.card__spec.text-dark 52 x 180W
						form.card__prices
							.card__prices-inner
								p.card__price.text-primary 270 000  &#8381;
								p.card__discount
									span.card__old-price.text-dark 300 000 &#8381;
									span.card__discount.text-light -10%
							button.button.card__button
								svg.icon.card__button-icon(height='20' width='30')
									title Добавить в корзину
									use(xlink:href='/img/svg/icons.svg#add-to-basket')
		.swiper-button-prev
			svg.icon.button-prev-icon(height='18' width='9')
				title Предыдущий слайд
				use(xlink:href='/img/svg/icons.svg#swiper-arrow-back')
		.swiper-button-next
			svg.icon.button-next-icon(height='18' width='9')
				title Следующий слайд
				use(xlink:href='/img/svg/icons.svg#swiper-arrow-forward')
