.promo
	.promotion.d-flex.mt-110.mb-40
		.promotion__previews.d-flex.flex-d-column
			.promotion__preview.text-primary.promotion__preview--active Скидка 35&#37; на электронные стартеры Cosmedico
			.promotion__preview.text-primary Жетоноприёмники для солярия Sunfit -20&#37;
			.promotion__preview.text-primary Немецкий пульт для солярия Dr. Kern за полцены&#33;
			.promotion__preview--more.link-primary-md--underline Все акции &#40;6&#41;
		.promotion__contents.d-flex.flex-d-row.flex-ai-center.flex-jc-between.flex-g1.py-35.px-50
			.promotion__content.promotion__content--active
				h3.promotion__content-title.display-1.text-primary Скидка 35&#37;
				p.promotion__content-description.text-dark  на электронные стартеры Cosmedico
				button.button.promotion__content-button подробнее
			picture.promotion__content-image.promotion__content-image--active
				source(srcset='./img/webp/pages/index/promo/starter-cosmedico.webp' type='image/webp')
				source(srcset='./img/pages/index/promo/promo/starter-cosmedico.jpg' type='image/jpeg')
				img.max-w-100p.obj-c(src='./img/pages/index/promo/promo/starter-cosmedico.jpg' loading='lazy' alt='стартер Cosmedico' height=237)
			.promotion__content
				h3.promotion__content-title.display-1.text-primary Скидка 20&#37;
				p.promotion__content-description.text-dark  Жетоноприёмники для солярия Sunfit
				button.button.promotion__content-button подробнее
			picture.promotion__content-image
				source(srcset='./img/webp/pages/index/promo/token-sunfit.webp' type='image/webp')
				source(srcset='./img/pages/index/promo/promo/token-sunfit.jpg' type='image/jpeg')
				img.max-w-100p.obj-c(src='./img/pages/index/promo/promo/token-sunfit.jpg' loading='lazy' alt='Жетоноприёмник Sunfit' height=237)
			.promotion__content
				h3.promotion__content-title.display-1.text-primary Скидка 50&#37;
				p.promotion__content-description.text-dark  Немецкий пульт для солярия Dr. Kern
				button.button.promotion__content-button подробнее
			picture.promotion__content-image
				source(srcset='./img/webp/pages/index/promo/controller-kern.webp' type='image/webp')
				source(srcset='./img/pages/index/promo/promo/controller-kern.jpg' type='image/jpeg')
				img.max-w-100p.obj-c(src='./img/pages/index/promo/promo/controller-kern.jpg' loading='lazy' alt='Пульт управления Dr. Kern' height=237)
