.publications.mb-65
	.row
		div(class='lg:col-5 col-12')
			h1.publications__title.mb-30.text-primary Новости
			article.article.mb-20.pt-40.px-40.pb-15
				h2.article__title.text-primary
					a.article__link(href='#') Китайские лампы для солярия. Мысли вслух.
				p.article__text Периодически мы слышим разговоры, о том, что в России можно купить дешёвые китайские лампы для...
			article.article.mb-30.pt-40.px-40.pb-15
				h2.article__title.text-primary
					a.article__link(href='#') Стартеры для солярия. Электронные стартеры. Регламент замены.
				p.article__text Существует много заблуждений у владельцев соляриев, касающихся стартеров для ламп и сроках их...
			a.link-primary-md--underline(href='#') Все новости
		div(class='lg:col-7 col-12')
			h1.publications__title.mb-30.text-primary Статьи
			article.article.article--lg.flex-d-row.flex-ai-center.mb-30
				a.article__img-link(href='#')
					picture.article__img.max-h-100p.max-w-100p
						source(srcset='./img/webp/pages/index/publications/publications-solarium.webp' type='image/webp')
						source(srcset='./img/pages/index/publications/publications-solarium.jpg' type='image/jpeg')
						img(src='./img/pages/index/publications/publications-solarium.jpg' loading='lazy' alt='Вертикальный солярий Megasun Pure Energy 5.0' height=363 width=260)
				.article--lg__description.py-10.pl-30.pr-40
					h2.article__title.text-primary
						a.article__link(href='#') Китайские лампы для солярия. Мысли вслух.
					p.article__date.text-primary 12.05.2019
					p.article__text.article__text--lg Наконец-то свершилось! В начале июня 2017 г. мы создали аккаунт в социальной сети Instagram. Будем выкладывать интересные фотографии соляриев, ламп, запчастей, косметики и всего, что может быть связано с индустрией искусственного загара. Ждём всех! Заходите и подписывайтесь на наш Инстаграм...
					a.link-primary-md--underline(href='#') Читать полностью
			a.link-primary-md--underline(href='#') Все статьи
