.service.mb-50
	.service__inner.d-flex
		.service__description.py-40.px-40
			h1.service__title.mb-20.text-primary Ремонт соляриев. Сервисная служба.
			p.service__info.mb-10 Ремонт соляриев в Москве и Московской Области. Продажа и обслуживание соляриев. Диагностика неисправностей, ремонт соляриев и коллагенариев любой сложности;
			p.service__info.mb-30 Профессиональный подбор и замена ламп в соляриях и коллагенариях (утилизация ламп). У нас самый большой выбор ламп! Отгрузка по РФ (доставка по России). Диагностика неисправностей, ремонт соляриев и коллагенариев любой сложности...
			button.button.service__button подробнее
		picture.service__img
			source(srcset='./img/webp/pages/index/service/solarium.webp' type='image/webp')
			source(srcset='./img/pages/index/service/solarium.jpg' type='image/jpeg')
			img.h-100p.max-h-100p.obj-c(src='./img/pages/index/service/solarium.jpg' loading='lazy' alt='Сервис по обсулживанию соляриев' width=575 height=400)
