.category {
	--category-shadow: var(--category-default-shadow);

	height: 177px;
	border-radius: 10px;
	background-color: var(--category-bg-cl);
	box-shadow: var(--category-shadow);
	text-decoration: none;
	transition: all .2s;

	&--md {
		min-height: 200px;
		border-radius: 5px;
	}

	&--lg {
		min-height: 310px;
		border-radius: 5px;
	}

	&:hover {
		--category-shadow: var(--category-hover-shadow);
	}

	&:active {
		--category-shadow: none;
	}

	&--delivery {
		--category-icon-delivery-cl: var(--category-icon-delivery-default-cl);

		color: var(--category-icon-delivery-cl);

		&:hover {
			--category-icon-delivery-cl: var(--category-icon-delivery-hover-cl);
		}
	}
}

.category__icon {
	fill: currentColor;
}

.category__name {
	--category-name-fw: var(--fw-sb);
	--category-name-fz: var(--fz-sm);
	--category-name-lh: var(--lh-lg);

	--category-name-lg-fz: var(--fz-lg);

	font-size: var(--category-name-fz);
	font-weight: var(--category-name-fw);
	line-height: var(--category-name-lh);
	letter-spacing: .1em;
	text-transform: uppercase;

	&--delivery {
		max-width: 220px;
		height: 45px;
		text-align: center;
	}

	&--lg {
		margin-bottom: 30px;
		font-size: var(--category-name-lg-fz);
		letter-spacing: .01em;
		text-transform: none;
	}
}
