:root {

	// ARTICLES
	// -----------------------------------------------

	// Basic
	--article-bg-cl: var(--cl-white);

	--article-default-shadow: 0 4px 10px var(--ca-black-5);
	--article-hover-shadow: 0 5px 15px var(--ca-violet-75-25);

	// -----------------------------------------------
	// ARTICLES
}
