:root {

	// SECTION CATALOG
	// -----------------------------------------------

	// Background
	--card-c-bg-cl: var(--cl-white);

	// Basic box-shadow
	--card-c-default-shadow: 0 4px 10px var(--ca-black-5);
	--card-c-hover-shadow: 0 5px 15px var(--ca-violet-75-25);

	// Link
	--card-c-icon-delivery-default-cl: var(--cl-violet-50);
	--card-c-icon-delivery-hover-cl: var(--cl-blue-500);

	// -----------------------------------------------
	// SECTION CATALOG
}
