:root {

	// ITEM CARD
	// -----------------------------------------------

	// Basic
	--card-bg-cl: var(--cl-white);
	--card-default-shadow: 0 4px 10px var(--ca-black-5);
	--card-hover-shadow: 0 5px 15px var(--ca-violet-75-25);

	// Img container
	--card-img-container-border-cl: var(--cl-graphite-800);

	// -----------------------------------------------
	// ITEM CARD
}
